.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.event-form{
  border: 1px solid;
  border-radius: 10px;
  margin: 50px auto;
  width: 50%;
  padding: 20px;
}
.vl {
  border-left: 2px solid black;
  height: 500px;
}
.event-display{
  border: 1px solid;
  border-radius: 10px;
  margin: 50px auto;
  width: 50%;
  padding: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.float-container {
  border: 3px solid #ffffff;
  padding: 20px;
}

.float-child {
  width: 20%;
  float: left;
  padding: 20px;
  
}  
.bid-container{
  border: 3px solid #fff;
  padding: 20px;
}
.bid-child{
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
